{% extends 'proj.html.twig' %}

{% block title %}
    BJ - Playing
{% endblock %}

{% block content %}
    <h1>
        BJ - Playing
    </h1>

    {{ include('flash.html.twig') }}

    <h4 class="results"></h4>

    <div class="container">
        <div class="frame">
            <div class="table">
                <div class="logo">
                    JackDash™
                </div>

                {# Dealer's hand #}
                <div class="player">
                    <p>
                        Dealer
                    </p>
                    <div class="card {{
                        dealerHand[0].getSuit() == 'H'
                            or dealerHand[0].getSuit() == 'D'
                            ? 'red'
                            : 'black'
                        }}">
                        <span class="rank">{{ dealerHand[0].getRank() }}</span>
                        <span class="suit top">
                            {{ dealerHand[0].getSuitSymbol() }}
                        </span>
                        <span class="suit bottom">
                            {{ dealerHand[0].getSuitSymbol() }}
                        </span>
                    </div>
                    <div class="card unknown">
                        <span class="bg">
                            <img src="{{ asset('img/cardback.svg') }}" />
                        </span>
                    </div>
                </div>

                {# Player's hands #}
                <div class="player-hands">
                    {% for handData in playerHands %}
                        <div class="player">
                            <p>
                                Player {{ handData.handIndex }}
                            </p>
                            {% for card in handData.cards %}
                                <div class="card {{
                                    card.getSuit() == 'H'
                                        or card.getSuit() == 'D'
                                        ? 'red'
                                        : 'black'
                                    }}">
                                    <span class="rank">
                                        {{ card.getRank() }}
                                    </span>
                                    <span class="suit top">
                                        {{ card.getSuitSymbol() }}
                                    </span>
                                    <span class="suit bottom">
                                        {{ card.getSuitSymbol() }}
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row mt">
            <form action="{{ path('proj_action') }}" method="post">
                {% for handData in playerHands %}
                    <div class="hand-actions">
                        <fieldset>
                            <legend>
                                Player {{ handData.handIndex }}
                            </legend>
                            <label>
                                <input type="radio"
                                    name="action{{ handData.handIndex }}"
                                    value="hit"
                                    required />Hit
                            </label>
                            <label>
                                <input type="radio"
                                    name="action{{ handData.handIndex }}"
                                    value="stand" />Stand
                            </label>
                        </fieldset>
                    </div>
                {% endfor %}

                <button class="button primary" type="submit">Proceed</button>
            </form>
            <a class="button danger" href="{{ path('proj') }}">Start Over</a>
        </div>
        <div class="bet-container mt">
            <h5>
                Current Bet: $<span id="displayedBet">{{ app.session.get(
                        'bj_bet'
                    )
                        ?? 10 }}</span>
            </h5>
            <p>
                Your Balance: ${{ playerMoney }}
            </p>
        </div>
    </div>
{% endblock %}
