{% extends 'proj.html.twig' %}

{% block title %}
    BlackJack - Results
{% endblock %}

{% block content %}
    <h1>
        BlackJack - Results
    </h1>

    {{ include('flash.html.twig') }}

    <div class="container">
        <div class="frame">
            <div class="table">
                <div class="logo">
                    JackDash™
                </div>

                <div class="player">
                    <p>
                        Dealer
                    </p>
                    {% for card in dealerHand %}
                        <div class="card {{
                            card.getSuit() == 'H' or card.getSuit() == 'D'
                                ? 'red'
                                : 'black'
                            }}">
                            <span class="rank">{{ card.getRank() }}</span>
                            <span class="suit top">
                                {{ card.getSuitSymbol() }}
                            </span>
                            <span class="suit bottom">
                                {{ card.getSuitSymbol() }}
                            </span>
                        </div>
                    {% endfor %}
                </div>

                {% for handResult in playerHandsResults %}
                    <div class="player">
                        <p>
                            Player Hand {{ handResult.handIndex }}
                        </p>
                        {% for card in handResult.cards %}
                            <div class="card {{
                                card.getSuit() == 'H' or card.getSuit() == 'D'
                                    ? 'red'
                                    : 'black'
                                }}">
                                <span class="rank">{{ card.getRank() }}</span>
                                <span class="suit top">
                                    {{ card.getSuitSymbol() }}
                                </span>
                                <span class="suit bottom">
                                    {{ card.getSuitSymbol() }}
                                </span>
                            </div>
                        {% endfor %}
                        <p>
                            Result: {{ handResult.result }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row mt">
            <a class="button primary" href="{{ path('proj') }}">Play Again</a>
        </div>

        <p>
            Your Balance: ${{ playerMoney }}
        </p>
    </div>
{% endblock %}
