{% extends 'base.html.twig' %}

{% block title %}
    Card Game - Shuffled Deck
{% endblock %}

{% block content %}
    <h1>
        Card Game
    </h1>
    <h2>
        Shuffled Deck:
    </h2>
    <div>
        {% for card in sortedDeck %}
            {% set suit = card.getSuit() %}
            {% set suit_symbol = suit == 'H'
                ? '♥'
                : suit == 'D' ? '♦' : suit == 'C' ? '♣' : '♠'
            %}
            <span class="card {{
                suit == 'H' or suit == 'D'
                    ? 'red'
                    : 'black'
                }}">
                <span class="rank">{{ card.getRank() }}</span>
                <span class="suit top">{{ suit_symbol }}</span>
                <span class="suit bottom">{{ suit_symbol }}</span>
            </span>
        {% endfor %}
    </div>

    <br /><br />

    <a class="button success" href="{{ path('card_deck_draw') }}">Draw Card</a>

    <a class="button primary" href="{{ path('card_deck_shuffle') }}">
        Shuffle Again
    </a>

    <a class="button" href="{{ path('card_start') }}">Return to game</a>
{% endblock %}
