{% extends 'base.html.twig' %}

{% block title %}
    Card Game - Draw Multiple Cards
{% endblock %}

{% block content %}
    <h1>
        Card Game
    </h1>

    {{ include('flash.html.twig') }}

    {% if drawnCards is not null %}
        <h2>
            Drawn Cards:
        </h2>
        <div>
            {% for card in drawnCards %}
                {% set suit = card.getSuit() %}
                {% set suit_symbol = suit == 'H'
                    ? '♥'
                    : suit == 'D' ? '♦' : suit == 'C' ? '♣' : '♠'
                %}
                <span class="card {{
                    suit == 'H' or suit == 'D'
                        ? 'red'
                        : 'black'
                    }}">
                    <span class="rank">{{ card.getRank() }}</span>
                    <span class="suit top">{{ suit_symbol }}</span>
                    <span class="suit bottom">{{ suit_symbol }}</span>
                </span>
            {% endfor %}
        </div>
    {% endif %}

    <h3>
        Cards Left in Deck: {{ cardsLeft }}
    </h3>

    <br /><br />

    {% if cardsLeft > 0 %}
        <a class="button primary"
            href="{{
            path(
                'card_deck_draw_multiple',
                {
                    number: 5
                }
            )
            }}">
            Draw 5 Cards
        </a>

        <a class="button primary"
            href="{{
            path(
                'card_deck_draw_multiple',
                {
                    number: 10
                }
            )
            }}">
            Draw 10 Cards
        </a>
    {% endif %}

    <a class="button danger" href="{{ path('card_deck_shuffle') }}">
        Shuffle Deck
    </a>

    <a class="button" href="{{ path('card_start') }}">Return to Start</a>
{% endblock %}
