{% extends 'base.html.twig' %}

{% block title %}
    API
{% endblock %}

{% block content %}
    <h1>
        About API
    </h1>
    <p>
        The following api routes are available:<ul>
            <li>
                <a href="{{ path('api_deck') }}">GET /api/deck</a> - returns a list
                of all cards in the deck
            </li>

            <li>
                <form action="{{ path('api_deck_shuffle') }}" method="post">
                    <input class="button primary"
                        type="submit"
                        value="POST /api/deck/shuffle" />- shuffles the deck
                </form>
            </li>

            <li>
                <form action="{{ path('api_deck_draw') }}" method="post">
                    <input class="button primary"
                        type="submit"
                        value="POST /api/deck/draw" />- draws a card from the
                    deck
                </form>
            </li>

            <li>
                <form action="{{
                    path(
                        'api_deck_draw_multiple',
                        {
                            number: 10
                        }
                    )
                    }}"
                    method="post">
                    <input class="button primary"
                        type="submit"
                        value="POST /api/deck/draw/:number" />- draws a number
                    of cards from the deck (10 cards)
                </form>
            </li>

            <li>
                <form action="{{
                    path(
                        'api_deck_deal',
                        {
                            players: 2,
                            cards: 5
                        }
                    )
                    }}"
                    method="post">
                    <input class="button primary"
                        type="submit"
                        value="POST /api/deck/deal/:players/:cards" />- deals a
                    number of cards to a number of players (2 players, 5 cards)
                </form>
            </li>

            <li>
                <form action="{{ path('book_show_all') }}" method="get">
                    <input class="button primary"
                        type="submit"
                        value="GET /api/library/books" />- shows all books
                </form>
            </li>

            <li>
                <form action="{{
                    path(
                        'book_by_isbn',
                        {
                            isbn: '9780544003415'
                        }
                    )
                    }}"
                    method="post">
                    <input class="button primary"
                        type="submit"
                        value="POST /api/library/book/9780544003415" />- shows
                    info about one particular book
                </form>
            </li>
        </ul>
    </p>
{% endblock %}

{% block sidebar %}
    <aside id="sidebar">
        <h1>
            API Links
        </h1>
        <a href="{{ path('api_quote') }}">Quotes</a>
        <br />
        <a href="{{ path('api_deck') }}">Deck</a>
    </aside>
{% endblock %}
