{% extends 'base.html.twig' %}

{% block title %}
    API
{% endblock %}

{% block content %}
    <h1>
        About API
    </h1>
    <p>
        The following games are available:<ul>
            <li>
                <a href="{{ path('pig_start') }}">Pig Game</a> - A classic dice game
            </li>
            <li>
                <a href="{{ path('card_start') }}">Card Game</a> - just to deal cards
            </li>
            <li>
                <a href="{{ path('game21_home') }}">21 Game</a> - a classic card
                game
            </li>
        </ul>
    </p>
{% endblock %}

{% block sidebar %}
    <aside id="sidebar">
        <h1>
            API Links
        </h1>
        <a href="{{ path('api_quote') }}">Quotes</a>
        <br />
        <a href="{{ path('api_deck') }}">Deck</a>
    </aside>
{% endblock %}
